<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Guess That Letter</title>
<script src="javascript/modernizr.js"></script>
<link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
<script type="text/javascript">
window.addEventListener("load", eventWindowLoaded, false);
function eventWindowLoaded () {
   canvasApp();
}
var Debugger = function () {};
Debugger.log = function(message) {
   try {
      console.log(message);
   } catch(exception) {
      return;
   }
}

function canvasApp(){

   if(!canvasSupport)
	return;

   var theCanvas = document.getElementById("canvasOne");
   var context = theCanvas.getContext("2d");
   var guesses = 0;
   var message = "Guess The Letter From a (lower) to z (higher)";
   var letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p",
                  "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];
   var today = new Date();
   var letterToGuess = "";
   var higherOrLower = "";
   var lettersGuessed;
   var gameOver = false;
   var guessIndex;
   var letterIndex;
   

   initGame();
   
   function initGame() {
      letterIndex = Math.floor(Math.random() * letters.length);
      letterToGuess = letters[letterIndex];
      guesses = 0;
      lettersGuessed = [];
      gameOver = false;
      window.addEventListener("keyup", eventKeyPressed, true);
	  
      drawScreen();
      }

   function eventKeyPressed(e){
      var letterPressed = String.fromCharCode(e.keyCode);
      letterPressed = letterPressed.toLowerCase();
      guesses++;
      lettersGuessed.push(letterPressed);
      
      if(letterPressed == letterToGuess) {
         gameOver = true;

      }
	  else
	  {
		letterIndex = letters.indexOf(letterToGuess);
		guessIndex = letters.indexOf(letterPressed);
		Debugger.log(guessIndex);
		if(guessIndex < 0)
		{
		higherOrLower = "That is not a letter";
		}
		else if(guessIndex > letterIndex)
		  {
			higherOrLower = "Lower";
		  }
		  else
		  {
			higherOrLower = "Higher";
		  }  
	  }
	  
	  drawScreen();
   }
   
   drawScreen();

   function drawScreen(){ 
      //background
      context.fillStyle = "#ffffaa";
      context.fillRect(0, 0, 500, 300);

      //Border
      context.strokeStyle = "#000000";
      context.strokeRect(5, 5, 490, 290);
	  
	  context.textBaseline = "top";
	  //Date
	  context.fillStyle = "#000000";
	  context.font = "10px _sans";
	  context.fillText(today, 150, 10);
	  //Message
	  context.fillStyle = "#FF0000";
	  context.font = "14px _sans";
	  context.fillText(message, 125, 30);
	  
	  //Guesses
	  context.fillStyle = "#109910";
	  context.font = "16px _sans";
	  context.fillText('Guesses: ' + guesses, 215, 50);
	  //Higher or Lower
	  context.fillStyle = "#000000";
	  context.font = "16px _sans";
	  context.fillText("Higher Or Lower: " + higherOrLower, 150, 125);
	  //Letters Guessed
	  context.fillStyle = "#FF0000";
	  context.font = "16px _sans";
	  context.fillText("Letters Guessed: " + lettersGuessed.toString(), 10, 260);
	  if(gameOver)
	  {
	  context.fillStyle = "#FF0000";
	  context.font = "40px _sans";
	  context.fillText("You Got It!", 150, 180);
	  }
   }

   function canvasSupport(){
      return Modernizr.canvas;
   }
}


</script>
</head>
<body>
<div style="position: absolute; top: 50px; left: 50px;">
<canvas id="canvasOne" width="500" height="300">
Your browser does not support HTML5 Canvas.
</canvas>
</div>


<div style="position: absolute; top: 350px; left: 50px;">
<hr>
<a href="/">Back to Al's Apps</a>
</div>
</body>
</html>